:root {
    --brand-color: #013755;
}

.navbar {
    background-color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

/* allows bootstrap to style Laminas Navigation generated menu items within the navbar */
.navbar li.active a {
    color: var(--bs-navbar-active-color);
}

my-element {
    background-color: #013755;

    /* Expose variables from the shadow root */
    --color-button: yellow;

    /* Slot content is a direct child NOT in the shadow root */
    h1 {
        color: orange;
    }
}
